Source: ros-indigo-pano-core
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-roscpp
Homepage: http://ros.org/wiki/pano_core
Standards-Version: 3.9.2

Package: ros-indigo-pano-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cv-bridge, ros-indigo-roscpp
Description: Library for the opencv-based panorama stitching algorithm
